        /* Estilos para o quiz */
        *, :root {
            margin: 0; /* Remove o espaçamento padrão do corpo do documento */
            padding: 0; /* Remove o espaçamento padrão do corpo do documento */
            font-family: 'Roboto', sans-serif; /* Define a fonte padrão para o corpo do documento */
            font-synthesis: none; /* Remove a síntese de fontes */
            -webkit-font-smoothing: antialiased; /* Suaviza as fontes no Google Chrome */
            -moz-osx-font-smoothing: grayscale; /* Suaviza as fontes no Firefox */
            -webkit-animation: 100%; /* Corrige um bug de animação no Google Chrome */
        }
        main {
            padding: 20px; /* Adiciona um espaço de 20px em todos os lados do elemento main */
            max-width: 640px; /* Largura máxima do elemento main */
            margin: 0 auto 64px; /* Centraliza o elemento main horizontalmente e adiciona um espaço de 64px na parte inferior */
        }
        body {
            background-color: rgb(0, 0, 0);
            padding-left: 20px; /* Adiciona um espaço de 20px à esquerda de todos os elementos dentro do body */
            padding-bottom: 50px; /* Adiciona um espaço de 50px na parte inferior do body */
        }
        header {
            margin-top: 24px; /* Adiciona um espaço de 64px na parte superior do elemento header */
            padding-bottom: 24px; /* Adiciona um espaço de 24px na parte inferior do elemento header */
            border: 1px solid #7b7676; /* Adiciona uma borda ao redor do elemento header */
            border-radius: 6px; /* Adiciona um raio de 6px às bordas do elemento header */
            border-bottom: 1px solid #7b7676; /* Adiciona uma borda na parte inferior do elemento header */

        }
        header h1 {
            font-size: 32px; /* Tamanho da fonte */
            margin-bottom: -22px; /* Adiciona um espaço de 20px na parte inferior do elemento h1 */
            padding: 16px 24px;
            color: azure;
        }

        .quiz-item {
            margin-top: 20px; /* Adiciona um espaço de 20px na parte inferior do elemento .quiz-item */
            border: 1px solid #7b7676; /* Adiciona uma borda ao redor do elemento .quiz-item */
            border-radius: 6px; /* Adiciona um raio de 6px às bordas do elemento .quiz-item */
            background-color: #3a3a3a; /* Define o fundo da pergunta como cinza claro */

        }

        .quiz-item h3 {
            counter-reset: quiz-item; /* Inicializa o contador */
            font-size: 20px; /* Tamanho da fonte */
            padding: 16px 20px; /* Adiciona um espaço de 16px na parte superior e inferior e 14px na parte esquerda e direita do elemento h3 */
            color: azure;

            display: flex; /* Define o display como flexível */
            align-items: center; /* Alinha o conteúdo verticalmente */
            gap: 10px; /* Adiciona um espaço de 10px entre os elementos */

            background-color: #454545; /* Cor de fundo cinza */
            border-radius: 6px; /* Adiciona um raio de 6px às bordas do elemento h3 */            
        }

        .quiz-item h3:before {
            counter-increment: quiz-item; /* Incrementa o contador */
            content: counter(quiz-item); /* Adiciona o número da pergunta antes do título */
  
            background-color: #2b2b2b; /* Cor de fundo verde */
            width: 30px; /* Largura do contador */
            height: 30px; /* Altura do contador */
            border-radius: 50%; /* Adiciona um raio de 50% às bordas do contador */

            display: flex; /* Define o display como flexível */
            align-items: center; /* Alinha o conteúdo verticalmente */
            justify-content: center; /* Alinha o conteúdo horizontalmente */           
            flex-shrink: 0;
        }

        .quiz-item dl {
            padding: 5px 14px;
            font-size: 20px; /* Tamanho da fonte */
            color: rgb(217, 217, 217);
        }

        .quiz-item dl dt {
            font-size: 14px; /* Tamanho da fonte */
            margin-bottom: 10px; /* Adiciona um espaço de 20px na parte inferior do elemento span */
            font-weight: bold; /* Adiciona negrito ao elemento span */
            letter-spacing: 0;
            display: flex;
            aling-items: center;
            gap: 7px;
        }

        input {
            all: unset; /* Remove todos os estilos padrão do input */
            border: 1px solid #7b7676; /* Adiciona uma borda ao redor do input */
            border-radius: 50%; /* Adiciona um raio de 4px às bordas do input */
            padding: 8px; /* Adiciona um espaço interno de 8px no input */
            font-size: 16px; /* Tamanho da fonte */
            outline: none; /* Remove o contorno ao focar no input */
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao input */
            position: relative; /* Define a posição relativa para o input */
            cursor: pointer; /* Adiciona um cursor de mão ao passar o mouse sobre o input */
            flex-shrink: 0;
        }

        input:checked {
            background-color: transparent; /* Define a cor de fundo como transparente */
            color: transparent; /* Define a cor do texto como transparente */
        }

        input:checked::after {
            content: ""; /* Adiciona conteúdo vazio ao pseudo-elemento */
            position: absolute; /* Define a posição absoluta para o pseudo-elemento */
            top: 50%; /* Posiciona o pseudo-elemento no centro verticalmente */
            left: 50%; /* Posiciona o pseudo-elemento no centro horizontalmente */
            transform: translate(-50%, -50%); /* Centraliza o pseudo-elemento */
            width: 8px; /* Define a largura do ponto */
            height: 8px; /* Define a altura do ponto */
            background-color: #00b318; /* Cor do ponto verde */
            border-radius: 50%; /* Define o raio para criar um ponto circular */
        }

        #acertos {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 2s linear;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #00ff0d; /* Cor de fundo azul */
            color: rgb(73, 73, 73); /* Cor do texto branco */
            padding: 10px 0; /* Espaçamento interno para dar um pouco de espaço ao texto */
            text-align: center; /* Centraliza o texto horizontalmente */
            font-size: 20px; /* Tamanho da fonte */
            font-weight: bold; /* Fonte em negrito */
            border-top: 2px solid #7db300; /* Borda superior */
            margin-left: -20px; /* Remove o espaço de 20px à esquerda do elemento #acertos */
        }

        #finalizar {
            background-color: #00b318; /* Cor de fundo do botão */
            color: white; /* Cor do texto do botão */
            padding: 15px 32px; /* Espaçamento interno para dar um pouco de espaço ao texto */
            text-align: center; /* Centraliza o texto horizontalmente */
            text-decoration: none; /* Remove o sublinhado do texto */
            display: inline-block;
            font-size: 16px; /* Tamanho da fonte */
            margin: 4px 2px; /* Margem ao redor do botão */
            cursor: pointer; /* Muda o cursor para um ponteiro quando você passa o mouse sobre o botão */
            border-radius: 12px; /* Arredonda os cantos do botão */
            border: none; /* Remove a borda padrão do botão */
        }

        #finalizar:hover {
            background-color: #008c15; /* Muda a cor de fundo quando você passa o mouse sobre o botão */
        }